@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none !important;
}


/* utility class */
.pt-60 {
    padding-top: 160px;
}

header {
    position: absolute;
    width: 100%;
}

.bg-img {
    background-image: url(../img/background-img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

/* respoonsive header */
.mobile-nav-active .navmenu {
    overflow: hidden;
    inset: 0;
    background: transparent;
    transition: 0.3s;
}

.mobile-nav-active .navmenu>ul {
    display: block;
}

.navmenu ul {
    display: none;
    position: absolute;
    width: 100%;
    height: 600px;
    padding-top: 30px;
    margin: 0;
    border-radius: 6px;
    background-color: #c0aa83;
    box-shadow: none;
    left: 0;
    top: 100px;
    transition: 0.3s;
    z-index: 9999999;
}

.mobile-nav-toggle {
    font-size: 50px;
    color: #fff;
}

.icons {
    font-size: 20px;
}

.top-header {
    padding: 20px 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

.count {
    background-color: #B34204;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn1 a {
    background-color: #c0aa83;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all ease;
}

.btn1:hover a {
    background-color: #fff;
    color: #000000eb;
}

.long-img {
    top: -20px;
}

.bg-img2 {
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.subheader {
    color: #c0aa83;
}

.heading {
    font-size: 50px;
}

.recent-product {
    background-color: #242424;
}

.recent-subheader {
    color: #c0aa83;

}

.recent-heading {
    font-size: 50px;
    font-family: "Kanit", sans-serif;
}

.header-text {
    color: #7a7878;
    opacity: .05;
    z-index: 1;
    font-size: 200px;
}

body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price-tag-1 {
    color: #ababab;
}

.price-tag-2 {
    color: #c0aa83;
}

.btn-card {
    background-color: #c0aa83;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all ease;
}

.btn-card:hover {
    color: #fff;
    background-color: #000;
}

.btn-view {
    background-color: none;
    color: #c0aa83;
}

.btn-view:hover {
    color: #000;
    background-color: #fff;
}

.sale-title {
    font-size: 60PX;
}

.sale-content {
    font-family: "Kanit", sans-serif;
    color: #3f3f3f;
}

.sale-title-2 {
    color: #c0aa83;
}

.more {
    font-size: 120px;
    color: #c0aa83;
}

.customer-trust {
    font-size: 60px;
    font-family: "Kanit", sans-serif;
}

.dealer-title {
    font-size: 50px;
    font-family: "Kanit", sans-serif;
}

.btn-dealer {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.4s all linear;
}

.btn-dealer:hover {
    background-color: transparent;
    color: #000
}

.btn-contact {
    background-color: #c0aa83;
    color: #fff;
    cursor: pointer;
    transition: 0.4s all liner;
}

.btn-contact:hover {
    background-color: transparent;
    color: #000
}

.bg-image {
    background-image: url(../img/coffee_parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
}

.swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.discount-img {
    background-image: url(../img/discount-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.dicount-title {
    font-size: 50px;
}

.bg-color {
    background-color: #f6f6f6;
}

.blog-title {
    color: #c0aa83;
}

.blog-info {
    background-color: #f6f6f6;
}

.date-day {
    color: #c0aa83;
}

.subscribe {
    background-color: #c0aa83;
    margin-bottom: -75px;
}

.btn-input {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.btn-input:hover {
    background-color: transparent;
}
.sec-icon{
    background-color: #d3c4a8;
}
.footer-map{
    background-image: url(../img/footer_map.png);
    background-color: #242424;
    padding: 90px 0 130px;
    padding-top: 170px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.footer-content{
    position: absolute;
    color: #676767;
   
}
.btn-purches{
    background-color: #c0aa83;
    color: #000;
    cursor: pointer;
    
}
.btn-purches:hover{
    background-color: #fff;
    color: #000;
}
.explor{
   color: #c0aa83;
}
.f-icon{
    color: #c0aa83;
}